AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ID da Knowledge Base do Bedrock
KNOWLEDGE_BASE_ID=

# ARN do modelo (Claude 3 Haiku)
BEDROCK_MODEL_ID=arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0

# ============================================
# MODEL INFERENCE CONFIGURATION
# ============================================
MAX_TOKENS=800
TEMPERATURE=0.1
TOP_P=1
NUMBER_OF_RESULTS=5
MAX_CONVERSATION_CONTEXT_HISTORY=3